services:
  - type: worker
    name: telegram-bot
    env: python
    plan: free
    region: frankfurt
    rootDirectory: BOT
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python main.py"
    envVars:
      - key: BOT_TOKEN
        sync: false
